@font-face {
    src: url("src/CabinetGrotesk-Variable.ttf");
    font-family: 'Cabinet Grotesk';
}
html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header {
    background-color: #3b82f6;
    color: white;
    padding: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
}
header p {
    font-size: 40px;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
}
header h1, header h5 {
    margin: 0px;
    margin-bottom: 5px;
}
h1, h2 {
    font-family: "Cabinet Grotesk";
    font-weight: 600;
}
.page-wrapper {
    display: flex;
}
.wrapper {
    width: 78%;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}
.card {
    flex: 1;
    flex-basis: 29%;
    padding: 15px;
    display: block;
    border-radius: 5%;
    aspect-ratio: 1;
    background-color: #F8FAFC;
    margin-bottom: 1%;
    max-width: 30%;
}
.card img {
    width: 100%;
    aspect-ratio: 12/9;
    object-fit: cover;
    border-radius: 5px;
}
.card-subcontent {
    display: flex;
    justify-content: space-between;
}
.card-subcontent div {
    align-self: end;
}
.card .category-title {
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 0px;
}
.card-title {
    margin-top: 5px;
    margin-bottom: 12px;
}
.card .pill {
    background-color: #3b82f6;
    color: white;
    border-radius: 15px;
    padding: 7px 15px 7px 15px;
    font-size: 12px;
    margin-right: 8px;
}
.pages {
    display: flex;
    margin-bottom: 15px;
}
.page-link {
    background-color: #3b82f6;
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}
.page-link:hover {
    background-color: #1d4ed8;
}

.page-link-active {
    background-color: #1e40af;
}
.sidebar {
    width: 20%;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
.sidebar-header {
    background-color: #3b82f6;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 8px;
}
.sidebar h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 00px;
    color: white;
}
.sidebar-filter-section {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 15px;
}
#sort-select {
    width: 100%;
}
.mobile-sidebar {
    background-color: #3b82f6;
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -350px;
    box-shadow: 0 0 20px 0px black;
    padding: 15px;
    transition: left 300ms;

}
.mobile-sidebar-header {
    color: white;
}
#cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    top: 0;
    left: 0;
}